[include]
	path = ~/.gitconfig.local
[user]
	name = Benedikt Schulze Baek
	signingkey = ~/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
[gpg]
	format = ssh
[core]
	autocrlf = false
	fileMode = false
	editor = nvim
[init]
	defaultBranch = master
[safe]
	directory = *
