syntax on

set number
set relativenumber
set clipboard+=unnamedplus
set scrolloff=5
set incsearch
set ignorecase
set smartcase

set which-key
set notimeout
let g:WhichKey_ShowVimActions = "true"
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

map Q gq
map <C-s> :w<CR>

vmap K :m '<-2<CR>gv=gv
vmap J :m '>+1<CR>gv=gv